
.wrapper{
    background-color: black;

}


.breadcrumb {
    padding: 15px;
    font-size: 0.9rem;
    background-color: white;
}

.breadcrumb a {
    color:#cbb28e;
    text-decoration: none;
}


.product__reklamer{
 width:100%;
 height: 30%;
 
}
.product__visit{

width: 100%;
height: 20%;

}


/************************************************************/


.container {
    max-width: 1000px;
    margin: 15px auto;
    padding: 0 15px;
}

.product-section {
    display: flex;
    margin-bottom: 40px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-content: center;
}

.left-column {
    flex: 1;
    
}
.product-image{
    border: 1px solid rgb(243, 243, 243);
    margin-top: 1em;
}

.product-image img {
    max-width: 400px;
    margin-bottom: 18px;
    height: 150px;
    padding: 10em 1.5em;
}

.more-views {
    text-align: start;
    padding-top: 4em;
}

.more-views h4 {
    margin-bottom: 10px;
}
.more__product{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 3em;
}
.more__product img {
    width: 3em;

}

/**********************************/


.right-column {
    flex: 2;
    margin-left: 60px;
}

.right-column h2 {
    font-size: medium;
    color: #cbb28e;
    margin-bottom: 8px;

}

.see-products a {
    color: #cbb28e;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    font-size: small;
}

.price {
    margin: 15px 0;
    display: flex;
    color: #cbb28e;
  justify-content: space-between;
}
.product__price{
    padding-left: 2em;
    
}
.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: small;
}

.new-price {
    font-size: 1.2rem;
    color:#cbb28e;
    margin-left: 10px;
    
}
.product__information{
    font-size: 0.65em;
    

}
.product__button{
    display: flex;
    gap: 0.2em;
}
.sumit__button{
background-color:#cbb28e ;
padding: 0.3em 0.6em;
border-style: none;
box-shadow:none;
}
.product__link{
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: x-small;
    
    
}
/************form*******************************/
.form{
   
        max-width: 600px;
        margin: auto;
        border: 1px solid #e1e1e1;
        padding: 15px;
       
    }
     .finish {
        font-size: x-small;
    }
    .required {
        color: red;
        
    }
     .required__red{
        padding-left: 22em;
        font-size: small;
    }

.product-form {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
}


.quantity {
    margin: 20px 0;
    display: flex;
    gap: 0.5em;
    background-color:lightgray;
    height:50px ;

}

input[type="number"] {
    width: 20px;
    
}

.add-to-cart {
   
    border: none;
    background-color:#cbb28e ;
    padding: 0.5em 0.6em;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
}

.paypal-button {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.or {
    text-align: center;
    margin: 10px 0;
}

.additional-info {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #e1e1e1;
}

.additional-info h3 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 8px;
    border: 1px solid #ddd;
}

a {
    color: #d4af37;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}